@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div.translated-text-container {
  @apply p-3 rounded-t-md border-black border-t-2 border-l-2 border-r-2;
  height: 100%;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  overflow-y: auto;
  word-break: break-word;
}

div.DraftEditor-root {
  @apply p-2 rounded-t-md border-black border-t-2 border-l-2 border-r-2;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  overflow-y: auto;
  min-height: 45vh;
  word-break: break-word;
}
div.DraftEditor-editorContainer {
  height: 100%;
}

div.public-DraftEditor-content {
  height: 100%;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
