*.pyc
*.ipynb_checkpoints
__pycache__/

bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# General
nohup.out
.DS_Store

# Package specific
/catboost_info/

# Project
/datasets/